@model IEnumerable<VeterinaryClinicManagment.ViewModels.AnimalViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
        <h2>Index des animaux</h2>
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--2-col">
        <a href="@Url.Action("Create", "Animals")" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="CreateAnimal">
            <i class="material-icons">add</i>
            <div class="mdl-tooltip" data-mdl-for="CreateAnimal">
                Créer
            </div>
        </a>
    </div>
</div>
@if (HttpContext.Current.User.IsInRole("Client"))
{
    <h4>En tant que client, vous voyez la liste de vos animaux traités à la clinique.</h4>
}

<div class="table-responsive">
    <table class="table table-hover mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">
                    @Html.DisplayNameFor(model => model.animal.nom)
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    @Html.DisplayNameFor(model => model.animal.sexe)
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    @Html.DisplayNameFor(model => model.animal.dateNaissance)
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Espèce
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Race
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Nom du client
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var animal in Model)
            {
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    @Html.DisplayFor(an => animal.animal.nom)
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    @Html.DisplayFor(an => animal.animal.sexe)
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    @Html.DisplayFor(an => animal.animal.dateNaissance)
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    @Html.DisplayFor(an => animal.species.espece)
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    @Html.DisplayFor(an => animal.species.race)
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    @Html.DisplayFor(an => animal.user.nom)
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    <button id="@animal.animal.IdAnimal" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="@animal.animal.IdAnimal">
                        <li class="mdl-menu__item" onclick="document.location='@Url.Action("EditComments", new {id = animal.animal.IdAnimal})'">Modifier les commentaires</li>
                        <li class="mdl-menu__item" onclick="document.location='@Url.Action("Details", new {id = animal.animal.IdAnimal})'">Détails</li>
                        <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" onclick="document.location='@Url.Action("MedicalReport", new {id = animal.animal.IdAnimal})'">Rapport médical</li>
                        @if (HttpContext.Current.User.IsInRole("Veterinary"))
                        {
                            <li class="mdl-menu__item" onclick="document.location='@Url.Action("Create", "Consultations", new {id = animal.animal.IdAnimal})'">Nouvelle consultation</li>
                            <li class="mdl-menu__item" onclick="document.location='@Url.Action("Create", "OperationsPassed", new {id = animal.animal.IdAnimal})'">Nouvelle opération</li>
                        }
                    </ul>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
