@model VeterinaryClinicManagment.Models.Operation
@{
    ViewBag.Title = "Création";
}

<h2>Create</h2>

<h2>Création d'une nouvelle opération</h2>
@if (ViewData["DBError"] != null)
{
    <div class="alert alert-danger">
        <strong>@ViewData["DBError"]</strong>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <fieldset>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.TextBoxFor(model => model.label, new { @class = "mdl-textfield__input" })
            @Html.LabelFor(model => model.label, new { @class = "mdl-textfield__label" })
            @Html.ValidationMessageFor(model => model.label, null, new { @class = "mdl-textfield__error" })
        </div>
    </fieldset>
    <input type="submit" , value="Créer" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" />
    <input type="reset" , value="Reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" />
}